*{
    padding: 0;
    margin: 0;
}
html, body{
    height: 100%;
    width: 100%;
    float: none;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: a7e3fe;
    overflow: hidden;
}
.header{
    margin: 3%;
    font-size: 30pt;
    top: 3%;
    text-shadow: 0px 0px 3px grey;
}
#result{
    margin-left: 3%;
    font-size: 17pt;
}
#antworten{
    width: 100%;
    height: 60%;
    
}
.antworten_row{

    float: left;
    width: 100%;
    
}
.answer{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 45.5%;
    height: 47%;
    font-size: 25pt;
    box-shadow: 0px 0px 8px #5fc4f1;
    cursor: pointer;
    margin-left: 3%;
    position: relative;
    float: left;
    margin-bottom: 3%;
    background-color: white;
    
}

.answer:hover
{
    background-color: antiquewhite; 
}
.answerselected
{
    background-color: #5fc4f1; !important
}
.right{
    background-color: #a5fb7f; !important
}
.wrong{
    background-color: #fc6861; !important
}

input[type=button]
{
    margin-left: 3%;
    width: auto;
    background-color: orange;
    font-size: 20pt;
    padding: 10px;
    box-shadow: 0px 0px 2px orange;
    text-shadow: 0px 0px 4px grey;
    border-radius: 3px;
    border: none;
    color: white;
    cursor: pointer;
    margin-bottom: 3%;
}
#backtomain{
    margin-top: 3%;
}

img{
    z-index: -1;
    right: 1%;
    bottom: 1%;
    height: 80%;
    width: auto;
    position: fixed;
}